<!-- <ion-nav [root]="rootPage"></ion-nav> -->
<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="menu">
    <ion-list>
      <ng-component *ngFor="let p of pages">
        <button class="menu" menuClose ion-item *ngIf="p.title === 'Trackers'" (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon" color="sable"></ion-icon>
          {{p.title}}
        </button>
      </ng-component>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header *ngIf="logged">
  <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        {{rootPageName}}
        <button *ngIf="isMapAdmin()" ion-button icon-only (click)="modifyTitle()">
          <ion-icon name="pencil"></ion-icon>
        </button>
      </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="contact"></ion-icon>
        Log Out
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
