// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.menu {
	color: #dab671;

  .item-md {
    padding-left: 5px;
  }

  .item-md ion-icon[item-left] + .item-inner, .item-md ion-icon[item-left] + .item-input, .item-md ion-icon[item-start] + .item-inner, .item-md ion-icon[item-start] + .item-input {
    margin-left: 10px;
  }

  .item-md ion-icon[item-left], .item-md ion-icon[item-right], .item-md ion-icon[item-start], .item-md ion-icon[item-end] {
    margin-top: 9px;
    margin-bottom: 9px;
  }

  .item-md [item-left], .item-md [item-right], .item-md [item-start], .item-md [item-end] {
    margin: 0;
  }

  .item-md.item-block .item-inner {
    padding: 0;
  }

  .ion-md-map-custom {
    content: url("../assets/imgs/map.png") !important;
  }

  .ion-md-contact-custom {
    content: url("../assets/imgs/contact.png") !important;
  }

  .ion-md-location-custom {
    content: url("../assets/imgs/location.png") !important;
  }

}

  .button-md {
    margin: 0;
    margin-left: 5px;
    background-color: #1c531c;
    border-radius: 0;
    color: #dab671;
    height: 3rem;
    box-shadow: none;
  }

  .button {
  position : fixed;
  }

.menu .scroll-content {
	overflow-y: hidden;
}
