page-map {
  .leaflet-popup-content-wrapper {
    background:#1c531c;
    color:#FFDA8C;
    font-size:12px;
    margin-bottom:20px;
  }

  .leaflet-popup-content-wrapper .leaflet-popup-content {

  }

  .leaflet-popup-tip {
    background:#ffffff;
    opacity:0;
  }
}
