page-map {
  .leaflet-popup-content-wrapper {
    background:#1c531c;
    color:#dab671;
    font-size:12px;
    margin-bottom:20px;
  }

  .leaflet-popup-content-wrapper .leaflet-popup-content {

  }

  .leaflet-popup-tip {
    background:#ffffff;
    opacity:0;
  }

  button {
    color: #dab671;
    background: #1c531c;
  }


}
