page-tracker {

  .login-content {
    background: #1c531c;

    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
    }

    .login-box {
      background: #1c531c;
      padding: 20px 20px 0px 20px;
      margin-top: 30px;
    }

    ion-row {
       align-items: center;
       text-align: center;
     }

     ion-item.ro {
        background: #DDDDDD;
        border-radius: 15px !important;
        padding-left: 30px !important;
        font-size: 0.9em;
        margin-bottom: 10px;
        border: 1px solid #DDDDDD;
        border-bottom: 0px !important;
        box-shadow: none !important;
        font-weight: bold;
        color: #000000;
     }

     ion-item.rot {
        background: #AAAAAA;
        border-radius: 15px !important;
        padding-left: 30px !important;
        font-size: 0.9em;
        margin-bottom: 10px;
        border: 1px solid #AAAAAA;
        border-bottom: 0px !important;
        box-shadow: none !important;
        font-weight: bold;
        color: #000000;
     }

     ion-item.status {
        background: sapin;
        border-radius: 15px !important;
        padding-left: 30px !important;
        font-size: 1.2em;
        margin-bottom: 10px;
        border: 1px solid sapin;
        border-bottom: 0px !important;
        box-shadow: none !important;
        color: #000000;
     }

     ion-item.notro {
        background: #EEEEEE;
        border-radius: 15px !important;
        padding-left: 30px !important;
        font-size: 0.9em;
        margin-bottom: 10px;
        border: 1px solid #EEEEEE;
        border-bottom: 0px !important;
        box-shadow: none !important;
        font-weight: normal;
     }

     .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
     }

     .submit-btn {
       background: #dab671;
       border-radius: 30px !important;
       border: 1px solid #dab671;
       opacity: 1;
       font-size:  1em;
       text-shadow: 0.5px 0.5px #111111;
       color: #1c531c;
     }

     .register-btn {
      margin-top: 10px;
       color: #dab671;
       font-size: 1em;
       text-shadow: 1px 1px #111111;
     }
  }

  .item-inner{
          border-bottom-color: transparent !important;
        box-shadow: none !important;
  }
  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: rgba(0,0,0,0);
    box-shadow: none;
  }

  .item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner {
    border-bottom-color: rgba(0,0,0,0);
    box-shadow: none;
  }

  .list-md[inset] {
    margin: 0;
  }

  ion-input {
    &.custom-placeholder {
      ::placeholder {
        color: #000000;
      }
    }
  }

  ion-label {
    &.custom-label {
      color: #000000;
    }
  }
}

.toastaccount {
  .toast-wrapper {
    text-align: center;
    background: rgba(0,0,0,0.3);
    text-shadow: 1px 1px #111111;
    font-size: 1.1em !important;
    font-weight: bold !important;
    max-width: 100% !important;
  }
}

