<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
  </ion-navbar>
</ion-header>

<ion-content class="login-content" padding>
  <div class="login-box">

    <ion-row>
      <ion-col>
        <ion-list inset>
          <ion-item class="ro">
            <ion-label fixed>Username</ion-label>
            <ion-input type="text" placeholder="Username" name="username" [(ngModel)]="credentials.username" required readonly></ion-input>
          </ion-item>
          <ion-item class="ro" *ngIf="isRO">
            <ion-label fixed>Lastname</ion-label>
            <ion-input type="text" placeholder="name" name="name" [(ngModel)]="credentials.name" required [readonly]="isReadonly()"></ion-input>
          </ion-item>
          <ion-item class="notro" *ngIf="!isRO">
            <ion-label fixed>Lastname</ion-label>
            <ion-input type="text" placeholder="name" name="name" [(ngModel)]="credentials.name" required [readonly]="isReadonly()"></ion-input>
          </ion-item>
          <ion-item class="ro" *ngIf="isRO">
            <ion-label fixed>Firstname</ion-label>
            <ion-input type="text" placeholder="Firstname" name="firstName" [(ngModel)]="credentials.firstName" required [readonly]="isReadonly()"></ion-input>
          </ion-item>
          <ion-item class="notro" *ngIf="!isRO">
            <ion-label floating>Firstname</ion-label>
            <ion-input type="text" placeholder="Firstname" name="firstName" [(ngModel)]="credentials.firstName" required [readonly]="isReadonly()"></ion-input>
          </ion-item>
          <ion-item class="ro" *ngIf="isRO">
            <ion-label fixed>Email</ion-label>
            <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="credentials.email" required [readonly]="isReadonly()"></ion-input>
          </ion-item>
          <ion-item class="notro" *ngIf="!isRO">
            <ion-label fixed>Email</ion-label>
            <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="credentials.email" required [readonly]="isReadonly()"></ion-input>
          </ion-item>
          <ion-item class="ro" *ngIf="isRO">
            <ion-label fixed>Phone</ion-label>
            <ion-input type="text" placeholder="Phone" name="phone" [(ngModel)]="credentials.phone" required [readonly]="isReadonly()"></ion-input>
          </ion-item>
          <ion-item class="notro" *ngIf="!isRO">
            <ion-label fixed>Phone</ion-label>
            <ion-input type="text" placeholder="Phone" name="phone" [(ngModel)]="credentials.phone" required [readonly]="isReadonly()"></ion-input>
          </ion-item>
          <ion-item class="ro" *ngIf="isRO">
            <ion-label fixed>Address</ion-label>
            <ion-input type="text" placeholder="Address" name="address" [(ngModel)]="credentials.address" required [readonly]="isReadonly()"></ion-input>
          </ion-item>
          <ion-item class="notro" *ngIf="!isRO">
            <ion-label fixed>Address</ion-label>
            <ion-input type="text" placeholder="Address" name="address" [(ngModel)]="credentials.address" required [readonly]="isReadonly()"></ion-input>
          </ion-item>
          <ion-item class="ro" *ngIf="licenseactive && !credentials.rescuer">
            <ion-label fixed>License {{licenseCurrent}}</ion-label>r
            <ion-input type="text" class="custom-placeholder" placeholder="Until {{licenseEndDate * 1000 | date}}" name="licensed" required readonly></ion-input>
          </ion-item>
          <ion-item class="ro" *ngIf="!licenseactive && !licenseIsEmpty && licenseCurrent!==null && !credentials.rescuer">
            <ion-label fixed>License</ion-label>
            <ion-input type="text" class="custom-placeholder" placeholder="{{licenseCurrent}} is inactive" name="licensed" required readonly></ion-input>
          </ion-item>
          <ion-item class="ro" *ngIf="licenseIsEmpty && !credentials.rescuer">
            <ion-label fixed>License</ion-label>
            <ion-input type="text" class="custom-placeholder" placeholder="No license active" name="licensed" required readonly></ion-input>
          </ion-item>
          <ion-item class="ro" *ngIf="credentials.rescuer && !credentials.admin">
            <ion-label fixed>Status</ion-label>
            <ion-input type="text" class="custom-placeholder" placeholder="You are a rescuer" name="licensed" required readonly></ion-input>
          </ion-item>
          <ion-item class="ro" *ngIf="credentials.admin">
            <ion-label fixed>Status</ion-label>
            <ion-input type="text" class="custom-placeholder" placeholder="You are an admin" name="licensed" required readonly></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!isAL && !isCP && isRO && !licenseactive">
      <ion-col class="signup-col">
        <button ion-button class="register-btn" block clear (click)="addLicense()">Add License</button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="isAL">
      <ion-col>
        <ion-list inset>
          <ion-item class="ro">
            <ion-label fixed>License</ion-label>
            <ion-input type="text" placeholder="License Number" name="license" [(ngModel)]="license" required></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="isAL">
      <ion-col class="signup-col">
        <button ion-button class="register-btn" block clear (click)="cancelLicense()">Cancel License</button>
        <button ion-button class="register-btn" block clear (click)="activateLicense()">Activate License</button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!isCP && !isAL">
      <ion-col class="signup-col">
        <button ion-button *ngIf="isRO" class="register-btn" block clear (click)="modify()">Change Information</button>
        <button ion-button *ngIf="!isRO" class="register-btn" block clear (click)="cancel()">Cancel</button>
        <button ion-button *ngIf="!isRO" class="register-btn" block clear (click)="save()">Save Modifications</button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isCP">
      <ion-col>
        <ion-list inset>
          <ion-item class="notro">
            <ion-input type="password" placeholder="New Password" name="pass1" [(ngModel)]="pass1" required></ion-input>
          </ion-item>
          <ion-item class="notro">
            <ion-input type="password" placeholder="Repeat Password" name="pass2" [(ngModel)]="pass2" required></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isRO && !isAL">
      <ion-col class="signup-col">
        <button ion-button *ngIf="!isCP" class="register-btn" block clear (click)="changePassword()">Change Password</button>
        <button ion-button *ngIf="isCP" class="register-btn" block clear (click)="cancelPW()">Cancel</button>
        <button ion-button *ngIf="isCP" class="register-btn" block clear (click)="savePW()">Save Password</button>
      </ion-col>
    </ion-row>

  </div>
</ion-content>
